apparmor==2.13.4
appdirs==1.4.4
application-utility==1.3.2
apsw==3.33.0.post1
asgiref==3.2.10
astroid==2.4.2
async-timeout==3.0.1
attrs==20.2.0
autopep8==1.5.4
beautifulsoup4==4.9.1
btrfsutil==1.2.0
CacheControl==0.12.6
ceph-volume==1.0.0
cephfs==2.0.0
cephfs-shell==0.0.1
certifi==2020.6.20
cffi==1.14.3
chardet==3.0.4
click==7.1.2
clipboard==0.0.4
colorama==0.4.3
configobj==5.0.6
contextlib2==0.6.0.post1
cryptography==3.1.1
css-parser==1.0.4
cssselect==1.1.0
cupshelpers==1.0
cycler==0.10.0
defusedxml==0.6.0
discid==1.2.0
distlib==0.3.1
distro==1.5.0
django-bootstrap-toolkit==2.15.0
dnspython==2.0.0
docopt==0.6.2
docopt-subcommands==4.0.0
docutils==0.16
epc==0.0.5
feedparser==5.2.1
filelock==3.0.12
flake8==3.8.4
Flask==1.1.2
greenlet==0.4.17
guake==3.7.0
html2text==2020.1.16
html5-parser==0.4.9
html5lib==1.1
idna==2.8
ifaddr==0.1.7
importmagic==0.1.7
isort==5.5.3
itsdangerous==1.1.0
Jinja2==2.11.2
keyutils==0.6
kiwisolver==1.2.0
lazy-object-proxy==1.4.3
lensfun==0.3.95
LibAppArmor==2.13.4
louis==3.15.0
lxml==4.5.2
Markdown==3.2.2
MarkupSafe==1.1.1
matplotlib==3.3.2
mccabe==0.6.1
mechanize==0.4.5
msgpack==1.0.0
multidict==4.7.6
mutagen==1.42.0
netifaces==0.10.9
npyscreen==4.10.5
numpy==1.19.2
odfpy==1.4.1
ordered-set==4.0.2
packaging==20.4
pacman-mirrors==4.16.4
pandas==1.1.2
pbr==5.5.0
pep517==0.8.2
picard==2.4.4
Pillow==7.2.0
pipenv==2020.8.13
pkgconfig==1.5.1
progress==1.5
psutil==5.7.2
pwquality==1.4.2
pyaes==1.6.1
pyasn1==0.4.8
pycairo==1.19.1
pychm==0.8.6
pycodestyle==2.6.0
pycparser==2.20
pycups==2.0.1
pycurl==7.43.0.6
pyflakes==2.2.0
Pygments==2.7.1
PyGObject==3.36.1
pyinotify==0.9.6
pylint==2.6.0
-e git+https://github.com/dgentry/Pymacs.git@56acc1a0bab6e1807995f032620158ee5d647898#egg=Pymacs
pynvim==0.4.2
pyOpenSSL==19.1.0
pyparsing==2.4.7
pyperclip==1.8.0
PyQt5==5.15.1
PyQt5-sip==12.8.1
PyQtWebEngine==5.15.1
pysmbc==1.0.20
python-dateutil==2.8.1
python-dotenv==0.14.0
python-Levenshtein==0.12.0
python-libtorrent==1.2.10
pytz==2020.1
pyvenv==0.2.2
pyxdg==0.26
PyYAML==5.3.1
rados==2.0.0
rbd==2.0.0
regex==2020.7.14
reportlab==3.5.50
requests==2.22.0
resolvelib==0.4.0
retrying==1.3.3
rgw==2.0.0
rope==0.18.0
ropemode==0.5
ropevim==0.8.0
rsa==4.6
schedule==0.6.0
selinux==3.1
sexpdata==0.0.3
sip==4.19.24
six==1.15.0
soupsieve==2.0.1
South==1.0.2
sqlparse==0.4.1
stevedore==3.2.2
team==1.0
Telethon==1.17.0
termcolor==1.1.0
terminator==1.92
toml==0.10.1
udiskie==2.2.0
ulauncher==5.8.0
ultan==2.1.0
unrardll==0.1.4
urllib3==1.25.10
vboxapi==1.0
virtualenv==20.0.31
virtualenv-clone==0.5.4
virtualenvwrapper==4.8.4
virtualfish==2.5.0
webencodings==0.5.1
websocket-client==0.57.0
Werkzeug==1.0.1
wrapt==1.12.1
xlrd==1.2.0
yapf==0.30.0
yarl==1.6.0
zeroconf==0.25.1
